In [ ]:
#importing the librabries  sets to be used 
import pandas as pd
import numpy as np

In [ ]:
Autolib= pd.read_csv('/content/Autolib_dataset (2).csv')
Autolib

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
Autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
Autolib.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

#data cleaning

In [ ]:
#check to see if certain columns have similar values and hence drop one.
# From the description above the cars and Bluecar counter seem to have similar properies, check to see if they are actually similar
Check= Autolib.Cars==Autolib['Bluecar counter']
Check.describe()

count     5000
unique       1
top       True
freq      5000
dtype: object

In [ ]:
# From the questions we know we need the postal code column.
# We will drop the ID and public name column since we don't need them
Bluecars= Autolib.drop(['Cars','Utilib counter','Utilib 1.4 counter','Displayed comment','ID','Kind','Geo point','Public name','Subscription status','Scheduled at'], axis=1)
Bluecars.head()

                              Address  Bluecar counter  ...  hour minute
0                 2 Avenue de Suffren                0  ...    11     43
1           145 Rue Raymond Losserand                6  ...     7     24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20     14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4     37
4  6 avenue de la Porte de Champerret                3  ...    17     23

[5 rows x 15 columns]

In [ ]:
# For ease in analysis we combine the year, month, day, hour and minute columns to form one column named Date-Time
Bluecars.year = Bluecars.year.apply(str)
Bluecars.month = Bluecars.month.apply(str)
Bluecars.day = Bluecars.day.apply(str)

Bluecars.hour = Bluecars.hour.apply(str)
Bluecars.minute = Bluecars.minute.apply(str)

Bluecars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          5000 non-null   object
 1   Bluecar counter  5000 non-null   int64
 2   Charge Slots     5000 non-null   int64
 3   Charging Status  5000 non-null   object
 4   City             5000 non-null   object
 5   Postal code      5000 non-null   int64
 6   Rental status    5000 non-null   object
 7   Slots            5000 non-null   int64
 8   Station type     5000 non-null   object
 9   Status           5000 non-null   object
 10  year             5000 non-null   object
 11  month            5000 non-null   object
 12  day              5000 non-null   object
 13  hour             5000 non-null   object
 14  minute           5000 non-null   object
dtypes: int64(4), object(11)
memory usage: 586.1+ KB

In [ ]:
Date = Bluecars['year'] + Bluecars['month'] + Bluecars['day']
Test = pd.to_datetime(Date, format='%Y%m%d', errors='ignore')
print(Test.head())
Time = Bluecars.hour + Bluecars.minute
Time_test= pd.to_datetime(Time, format= '%H%M')- pd.to_datetime(Time, format='%H%M').dt.normalize()
print(Time_test)

0   2018-04-08
1   2018-04-06
2   2018-04-03
3   2018-04-04
4   2018-04-08
dtype: datetime64[ns]
0      0 days 11:43:00
1      0 days 07:24:00
2      0 days 20:14:00
3      0 days 04:37:00
4      0 days 17:23:00
             ...
4995   0 days 11:26:00
4996   0 days 16:56:00
4997   0 days 07:01:00
4998   0 days 17:27:00
4999   0 days 10:02:00
Length: 5000, dtype: timedelta64[ns]

In [ ]:
Bluecars['Date']= Test
Bluecars

                                 Address  Bluecar counter  ...  minute       Date
0                    2 Avenue de Suffren                0  ...      43 2018-04-08
1              145 Rue Raymond Losserand                6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy                3  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret                3  ...      23 2018-04-08
...                                  ...              ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte                2  ...      26 2018-04-06
4996                   37 rue de Dantzig                4  ...      56 2018-04-04
4997                      142 rue du Bac                1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay                2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson                4  ...       2 2018-04-08

[5000 rows x 16 columns]

In [ ]:
Bluecars.drop(['year', 'month', 'day', 'minute'], axis=1, inplace= True)
Bluecars.head()

                              Address  Bluecar counter  ...  hour       Date
0                 2 Avenue de Suffren                0  ...    11 2018-04-08
1           145 Rue Raymond Losserand                6  ...     7 2018-04-06
2    2 Avenue John Fitzgerald Kennedy                3  ...    20 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4 2018-04-04
4  6 avenue de la Porte de Champerret                3  ...    17 2018-04-08

[5 rows x 12 columns]

In [ ]:
Bluecars.hour = Bluecars.hour.apply(int)
Bluecars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          5000 non-null   object
 1   Bluecar counter  5000 non-null   int64
 2   Charge Slots     5000 non-null   int64
 3   Charging Status  5000 non-null   object
 4   City             5000 non-null   object
 5   Postal code      5000 non-null   int64
 6   Rental status    5000 non-null   object
 7   Slots            5000 non-null   int64
 8   Station type     5000 non-null   object
 9   Status           5000 non-null   object
 10  hour             5000 non-null   int64
 11  Date             5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(6)
memory usage: 468.9+ KB

#DATA ANALYSIS

In [ ]:
# Our main city of focus is Paris
Bluecars = Bluecars[Bluecars.City == 'Paris']
Bluecars

                                 Address  Bluecar counter  ...  hour       Date
0                    2 Avenue de Suffren                0  ...    11 2018-04-08
1              145 Rue Raymond Losserand                6  ...     7 2018-04-06
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4 2018-04-04
4     6 avenue de la Porte de Champerret                3  ...    17 2018-04-08
5                   8 Boulevard Voltaire                0  ...     7 2018-04-06
...                                  ...              ...  ...   ...        ...
4992                     3 avenue d'Ivry                0  ...    23 2018-04-09
4994                    15 rue de Rocroy                0  ...    20 2018-04-01
4996                   37 rue de Dantzig                4  ...    16 2018-04-04
4997                      142 rue du Bac                1  ...     7 2018-04-01
4999                 5 Rue Henry Brisson                4  ...    10 2018-04-08

[2816 rows x 12 columns]

In [ ]:
# sort in ascending order based on days
Bluecars= Bluecars.sort_values(by=['Address','Date', 'hour'])
Bluecars

                 Address  Bluecar counter  Charge Slots  ... Status hour       Date
299    1 Avenue Gambetta                0             1  ...     ok   15 2018-04-01
1940   1 Avenue Gambetta                0             1  ...     ok   20 2018-04-07
4486   1 Avenue Gambetta                3             1  ...     ok   13 2018-04-09
962     1 Avenue Marceau                1             0  ...     ok   16 2018-04-01
4850    1 Avenue Marceau                0             0  ...     ok    6 2018-04-05
...                  ...              ...           ...  ...    ...  ...        ...
3282  99 Boulevard Arago                3             0  ...     ok   11 2018-04-06
3222  99 Boulevard Arago                1             0  ...     ok   21 2018-04-06
2719  99 Boulevard Arago                1             0  ...     ok   12 2018-04-08
2392        99 Rue Monge                0             1  ...     ok    1 2018-04-01
682         99 Rue Monge                0             0  ...     ok   15 2018-04-04

[2816 rows x 12 columns]

In [ ]:
# We need to see how many cars were taken and returned to the same address.
Active_Addresses = Bluecars.copy(deep=True)
Active_Addresses = Active_Addresses[Active_Addresses['Address'] == Active_Addresses['Address'].shift(1)]
Active_Addresses.loc[Active_Addresses.Address == Active_Addresses.Address.shift(-1), 'Pickup'] = Active_Addresses['Bluecar counter'] - Active_Addresses['Bluecar counter'].shift(-1)
Active_Addresses.head()

                Address  Bluecar counter  Charge Slots  ... hour       Date  Pickup
1940  1 Avenue Gambetta                0             1  ...   20 2018-04-07    -3.0
4486  1 Avenue Gambetta                3             1  ...   13 2018-04-09     NaN
4850   1 Avenue Marceau                0             0  ...    6 2018-04-05     0.0
2547   1 Avenue Marceau                0             1  ...   22 2018-04-05     0.0
3006   1 Avenue Marceau                0             1  ...    6 2018-04-06     NaN

[5 rows x 13 columns]

In [ ]:
Active_Addresses.Pickup.fillna(0, inplace= True)
Active_Addresses.Pickup.value_counts()

 0.0    1116
 1.0     229
-1.0     215
 2.0     157
-2.0     153
 3.0      97
-3.0      75
 4.0      56
-4.0      43
-5.0      26
 5.0      22
 6.0      11
-6.0      10
-7.0       1
Name: Pickup, dtype: int64

In [ ]:
Active_Addresses.Pickup = Active_Addresses.Pickup.replace([-1,-2,-3,-4,-5,-6,-7], 0)
Active_Addresses.Pickup.value_counts()

0.0    1639
1.0     229
2.0     157
3.0      97
4.0      56
5.0      22
6.0      11
Name: Pickup, dtype: int64

#most popular hours
#during working hours

In [ ]:
  Engaged_hours = Active_Addresses.copy(deep= True)
Weekday_hours = Engaged_hours[((Engaged_hours.hour >= 8) & (Engaged_hours.hour <= 18)) & ((Engaged_hours.Date != '2018-04-01') & (Engaged_hours.Date != '2018-04-07') & (Engaged_hours.Date != '2018-04-08'))]
Weekday_hours.groupby('hour')['Pickup'].sum().sort_values(ascending=False)

hour
12    64.0
15    57.0
16    51.0
8     45.0
18    43.0
17    41.0
11    41.0
10    40.0
9     37.0
13    34.0
14    25.0
Name: Pickup, dtype: float64

#after working hour

In [ ]:
Weekday_hours_night = Engaged_hours[((Engaged_hours.hour < 8) | (Engaged_hours.hour > 18)) & ((Engaged_hours.Date != '2018-04-01') & (Engaged_hours.Date != '2018-04-07') & (Engaged_hours.Date != '2018-04-08'))]
Weekday_hours_night.groupby('hour')['Pickup'].sum().sort_values(ascending=False)

hour
3     68.0
21    52.0
1     51.0
4     46.0
6     45.0
0     45.0
2     44.0
7     41.0
5     36.0
19    34.0
20    28.0
22    27.0
23    23.0
Name: Pickup, dtype: float64

#weekends daytime

In [ ]:
Weekend_hours = Engaged_hours[((Engaged_hours.hour >= 8) & (Engaged_hours.hour <= 18)) & ((Engaged_hours.Date == '2018-04-01') | (Engaged_hours.Date == '2018-04-07') | (Engaged_hours.Date == '2018-04-08'))]
Weekend_hours.groupby('hour')['Pickup'].sum().sort_values(ascending= False)

hour
12    14.0
10    13.0
8     13.0
14    10.0
15     9.0
16     8.0
13     7.0
11     7.0
9      7.0
18     5.0
17     5.0
Name: Pickup, dtype: float64

#weekends night time

In [ ]:
Weekend_hours_night = Engaged_hours[((Engaged_hours.hour < 8) | (Engaged_hours.hour > 18)) & ((Engaged_hours.Date == '2018-04-01') | (Engaged_hours.Date == '2018-04-07') | (Engaged_hours.Date == '2018-04-08'))]
Weekend_hours_night.groupby('hour')['Pickup'].sum().sort_values(ascending= False)

hour
3     16.0
22    14.0
6     14.0
2     11.0
20     9.0
23     8.0
21     8.0
19     8.0
7      8.0
5      7.0
4      5.0
1      5.0
0      5.0
Name: Pickup, dtype: float64

#most popular hours

In [ ]:
Weekend_hours_night = Engaged_hours[((Engaged_hours.hour < 8) | (Engaged_hours.hour > 18)) & ((Engaged_hours.Date == '2018-04-01') | (Engaged_hours.Date == '2018-04-07') | (Engaged_hours.Date == '2018-04-08'))]
Weekend_hours_night.groupby('hour')['Pickup'].sum().sort_values(ascending= False)

hour
3     16.0
22    14.0
6     14.0
2     11.0
20     9.0
23     8.0
21     8.0
19     8.0
7      8.0
5      7.0
4      5.0
1      5.0
0      5.0
Name: Pickup, dtype: float64

##return hours

In [ ]:
Engaged_hours.Address.value_counts()

8 Avenue de la Porte de Montrouge    12
35 rue Mathis                        10
182 Boulevard Voltaire               10
31 boulevard de Grenelle             10
126 Avenue Philippe Auguste          10
                                     ..
1 rue de Chanaleilles                 1
47 rue Navier                         1
26 Place de la Nation                 1
21 boulevard Bonne Nouvelle           1
78 avenue de Suffren                  1
Name: Address, Length: 578, dtype: int64

In [ ]:
Engaged_hours.loc[Engaged_hours.Address == Engaged_hours.Address.shift(-1), 'Return'] = Engaged_hours['Bluecar counter'] - Engaged_hours['Bluecar counter'].shift(-1)
Engaged_hours[Engaged_hours.Address == '8 Avenue de la Porte de Montrouge']
Engaged_hours.Return.fillna(0, inplace= True)
Engaged_hours.Return.value_counts()
Engaged_hours.Return = Engaged_hours.Return.replace([1,2,3,4,5,6,7], 0)
Engaged_hours.Return.value_counts()
Engaged_hours.Return = Engaged_hours.Return.abs()
Engaged_hours

                 Address  Bluecar counter  ...  Pickup Return
1940   1 Avenue Gambetta                0  ...     0.0    3.0
4486   1 Avenue Gambetta                3  ...     0.0    0.0
4850    1 Avenue Marceau                0  ...     0.0    0.0
2547    1 Avenue Marceau                0  ...     0.0    0.0
3006    1 Avenue Marceau                0  ...     0.0    0.0
...                  ...              ...  ...     ...    ...
2399  99 Boulevard Arago                1  ...     0.0    2.0
3282  99 Boulevard Arago                3  ...     2.0    0.0
3222  99 Boulevard Arago                1  ...     0.0    0.0
2719  99 Boulevard Arago                1  ...     0.0    0.0
682         99 Rue Monge                0  ...     0.0    0.0

[2211 rows x 14 columns]

In [ ]:
Engaged_hours.groupby('hour')['Return'].sum().sort_values(ascending= False)

hour
22    77.0
23    67.0
9     56.0
21    54.0
13    53.0
5     53.0
15    52.0
3     49.0
14    49.0
2     48.0
10    48.0
17    46.0
19    46.0
8     46.0
6     46.0
12    44.0
20    42.0
1     39.0
11    39.0
18    39.0
4     35.0
0     35.0
7     27.0
16    25.0
Name: Return, dtype: float64

#popular station overall

In [ ]:
Engaged_hours['Rentals'] = Engaged_hours['Pickup'] + Engaged_hours['Return']
Engaged_hours.groupby('Address')['Rentals'].sum().sort_values(ascending= False)

Address
8 Avenue de la Porte de Montrouge    32.0
19 rue de Chateaubriand              20.0
19 rue BrÃ©montier                   20.0
8 rue Goubet                         20.0
126 Avenue Philippe Auguste          19.0
                                     ...
26 Place de la Nation                 0.0
25 rue Constantine                    0.0
249 avenue Gambetta                   0.0
243 rue Saint-Martin                  0.0
26 Place Etienne Pernet               0.0
Name: Rentals, Length: 578, dtype: float64

#popular station during the most popular picking hours

In [ ]:
Engaged_hours.groupby('Address')['Pickup'].sum().sort_values(ascending=False)

Address
8 Avenue de la Porte de Montrouge    15.0
8 rue Goubet                         11.0
19 rue de Chateaubriand              10.0
7 rue Raymond Pitet                  10.0
126 Avenue Philippe Auguste           9.0
                                     ...
29 avenue de la Sibelle               0.0
29 rue du Cotentin                    0.0
3 Rue Yves Toudic                     0.0
3 Rue des Halles                      0.0
1 Avenue Gambetta                     0.0
Name: Pickup, Length: 578, dtype: float64

#during the most popular working hours

In [ ]:
Engaged_hours.groupby('Address')['Return'].sum().sort_values(ascending=False)

Address
8 Avenue de la Porte de Montrouge    17.0
19 rue BrÃ©montier                   11.0
220 rue Marcadet                     10.0
1 Rue du Colonel Pierre Avia         10.0
126 Avenue Philippe Auguste          10.0
                                     ...
31 Bis Rue du Faubourg Montmartre     0.0
31 boulevard de Grenelle              0.0
32 boulevard Exelmans                 0.0
32 boulevard des Invalides            0.0
26 Place Etienne Pernet               0.0
Name: Return, Length: 578, dtype: float64

postal code

In [ ]:
#What postal code is the most popular for picking up Blue cars
Engaged_hours.groupby('Postal code')['Rentals'].sum().sort_values(ascending= False)

Postal code
75015    238.0
75017    223.0
75016    200.0
75011    184.0
75014    159.0
75008    154.0
75020    150.0
75013    146.0
75018    130.0
75012    129.0
75019    125.0
75007     98.0
75009     77.0
75005     77.0
75010     75.0
75006     44.0
75003     43.0
75002     39.0
75001     24.0
75004     24.0
75116      7.0
75112      3.0
Name: Rentals, dtype: float64

In [ ]:
#Does the most popular station at the most popular pickup hour belong to that postal code
#As it can be seen it doesn't belong to the postal code
Engaged_hours[Engaged_hours.Address == '8 Avenue de la Porte de Montrouge']

                                Address  Bluecar counter  ...  Return Rentals
2179  8 Avenue de la Porte de Montrouge                1  ...     4.0     4.0
3558  8 Avenue de la Porte de Montrouge                5  ...     0.0     5.0
360   8 Avenue de la Porte de Montrouge                0  ...     6.0     6.0
4490  8 Avenue de la Porte de Montrouge                6  ...     0.0     6.0
2991  8 Avenue de la Porte de Montrouge                0  ...     5.0     5.0
1010  8 Avenue de la Porte de Montrouge                5  ...     0.0     1.0
1282  8 Avenue de la Porte de Montrouge                4  ...     0.0     1.0
3307  8 Avenue de la Porte de Montrouge                3  ...     0.0     0.0
1527  8 Avenue de la Porte de Montrouge                3  ...     0.0     2.0
194   8 Avenue de la Porte de Montrouge                1  ...     2.0     2.0
122   8 Avenue de la Porte de Montrouge                3  ...     0.0     0.0
3392  8 Avenue de la Porte de Montrouge                3  ...     0.0     0.0

[12 rows x 15 columns]